# телеграм бот
TELEGRAM_TOKEN=

# S3 хранилище для скачавания моделей и документов для векторной базы данных
YC_ACCESS_KEY=
YC_SECRET_KEY=

# ключи для апи ЛЛМ
GROQ_API_KEY=
HF_API_KEY=
OR_API_KEY=

# настройки кудрант
# INIT_LIMIT указываем количество документов для индексации в векторную базу данных. Если укажем None, то будут проиндексированы все имеющиеся документы.
INIT_LIMIT=5
# проверь INIT_LIMIT выше

DATA_DIR=./data
QDRANT_PATH=./data/qdrant
LOGS_PATH=./data/logs
MODELS_CACHE=./data/models_cache
CSV_DATA_PATH=./docs_cleaned.csv

# апи поднимаемых сервисов
SEARCH_API_URL=http://search-api:8000
API_URL=http://search-gateway:8002
ML_API_URL=http://ml-api:8001

# RMQ и redis
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
REDIS_HOST=redis
REDIS_PORT=6379